<div class="span9">
    <h2>Descubra as boas feiras livres perto de você!</h2>
</div>
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li>Feira 1</li>
      <li>Feira 2</li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->



