<div class="span9">
    <h2>Feiras Livres de São Paulo - Hackathon 2012</h2>

    
    <h3>O que é?</h3>
    <p>É um projeto desenvolvido durante o Hackathon 2012 para localização de feiras livres em São Paulo.</p>

    <h3>Fontes</h3>
    <ul>
        <li><a href='http://www9.prefeitura.sp.gov.br/secretarias/smsp/pesquisa/feiras/plugins/feiras.xml'>feiras.xml</a></li>
        <li><a href='http://www9.prefeitura.sp.gov.br/secretarias/smsp/pesquisa/feiras/plugins/local.xml'>local.xml</a></li>
    </ul>

    <h3>Onde tá?</h3>
    <ul>
        <li>Repositório no <a href='https://github.com/marcoshack/feirasp'>github</a></li>
        <li>Website: <a href='http://feiras.herokuapp.com'>feiras.herokuapp.com</a></li>
    </ul>

    <h3>Quem fez?</h3>
    <ul>
        <li><a href='https://github.com/lfcipriani'>Luis Cipriani</a></li>
        <li><a href='https://github.com/lsdr'>Luiz Rocha</a></li>
        <li><a href='https://github.com/marcoshack'>Marcos Hack</a></li>
        <li><a href='https://github.com/tinogomes'>Tino Gomes</a></li>
        <li>Manoel "Farofa" Abranches</li>
    </ul>
</div>
